<%= render :partial => 'crumbs' %>
<% add_crumb("Edit", edit_audio_playlist_path(@playlist)) %>

<% form_for(@playlist, :url => audio_playlists_path) do |f| %>
	<p class='centered'>
		<label for="playlist_title">Title</label>
		<%= f.text_field :title %>
	</p>
	<p class="centered">
		<%= submit_tag 'Update playlist' %>
	</p>
<% end %>