<% html_class = (message_item.read? ? 'read' : 'unread')%>
<tr>
	<td>
		<%= link_to message_item.message.subject, 
					user_mailbox_message_path({:user_id => @user.urlname, :id => message_item.id, :mailbox_id => @mailbox_name}), 
					:class => html_class %>
	</td>
	<td>
		<%= link_to message_item.message.sender.name, user_path(message_item.message.sender), 
					:class => html_class %>
	</td>
	<td class="<%= html_class %>"><%= message_item.message.created_at.to_formatted_s(:short) %></td>
</tr>