<li><%= segment.name %></li>
<p>
	<span class="as_label">Segment length: </span>
	<%= render :partial => 'shared/length', :object => segment.length %>
</p>
<% if segment.audio_asset.authored?  %>
	<% form_tag delivery_path, :method => :put do -%>
	<%= hidden_field_tag 'segment', segment.id %>
		<p>
			<div id="file_list">
				First select the asset service from which to import this asset
			</div>
		</p>
	<% end %>
<% end %>