<%
	broadcast_crumbs
%>

<% content_for :sidebar do %>
	<%= render :partial => 'shared/asset_selector' %>
<% end %>
<p>
	<span class="as_label">Broadcast length: </span>
	<%= render :partial => 'shared/length', :object => @broadcast.structure.playable_length %>
</p>
<ul>
<% @broadcast.structure.segments.each do |e| %>
	<%= render :partial => 'segment', :locals => { :segment => e } %>
<% end %>
</ul>