[submodule "scheduler/vendor/plugins/acts_as_singleton"]
	path = scheduler/vendor/plugins/acts_as_singleton
	url = git://github.com/stephencelis/acts_as_singleton.git
[submodule "scheduler/vendor/plugins/delayed_job"]
	path = scheduler/vendor/plugins/delayed_job
	url = http://github.com/tobi/delayed_job.git
