<h1>Actions</h1>
<ul>
	<li><%= link_to 'Deliver content', edit_delivery_path(@program, @broadcast) %></li>
	<li><%= link_to 'Reschedule broadcast', program_edit_broadcast_path(@program, @broadcast) %></li>
	<li><%= link_to 'Cancel broadcast', program_broadcast_path(@program, @broadcast), :method => :delete %></li>
</ul>
