<% 
	@pagetitle = "Emissions"
	emission_crumbs
%>

<% content_for :sidebar do %>
	<h1>List emissions by:</h1>
	<h2>Type</h2>
	<h2>Time</h2>
	<% if @program.nil? %>
	<h2>Program</h2>
	<% end %>
	<div id="minical">
		<%= render :partial => 'shared/minical', :locals => { :date => Time.now, :program => @program } %>
	</div>
<% end %>

<ul>
<% @emissions.each do |e| %>
	<% if @program.nil? %>
		<li><%= link_to e.start.to_formatted_s(:long) + ' - ' + e.program.name, emission_path(e) %></li>
	<% else %>
		<li><%= link_to e.start.to_formatted_s(:long), program_emission_path(@program, e) %></li>
	<% end %>
<% end %>
</ul>