<%
	render :partial => 'crumbs'
	add_crumb('New', new_user_mailbox_message_path(@user, :mailbox_id => @mailbox_name))
%>

<% form_for(@message, :url => new_user_mailbox_message_path(current_user, :mailbox_id => :sent)) do |f| %>
	<p>
		<label for="message_subject">Recipients</label><br/>
		<%= f.text_field :subject %>
	</p>
	
	<p>
		<label for="message_subject">Subject</label><br/>
		<%= f.text_field :subject %>
	</p>
	
	<p>
		<label for="message_subject">Body</label><br/>
		<%= f.text_area :body %>
	</p>

<% end %>