# Edit these values as you prefer and change the name of the file to manager.yml

# Radia Source visit interval (in seconds) 
interval: 30

# Base folder for downloads
downloads: '/usr/local/downloads'

# Maximum number of downloads at the same time
max_downloads: 1