<%= render :partial => 'crumbs' %>
<% add_crumb("#{@single.title}", audio_single_path(@single)) %>

<p>
	<span class="stronger">Title: </span> <%= @single.title %>
</p>
<p>
	<span class="stronger"> <%= (@single.available? ? 'Available' : 'Not available') + ' at broadcast node' %></span>
</p>
<p>
	<% unless @single.available? %>
		<span class="stronger">Retrieval URI: </span>
		<%= link_to @single.retrieval_uri
		%><br />
	<% end %>
</p>
