/*** Header ***/

#header
{
	/*background: url('/images/header_bg.png');*/
	background: #111;
}

/*** Logo  ***/

#logo {
	margin: 5px 0 5px 5px;
}


/*** Content Container */
#content
{
	min-height:450px;
	background: #C0C0C0;
	padding-bottom: 18px;
}


/*** Main content ***/
#main_content
{
	min-height:360px;
	
	margin-left: 13px;
	margin-top: 13px;
	background: #F5F5F5;
	padding: 5px 10px 5px 10px;
	border-right: 3px solid #666;
	border-bottom: 3px solid #666;
}

/**** Sidebar ***/

#sidebar
{
	margin: 10px 10px 0 10px;
}

#sidebar h1 {
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px dotted #666;
	color: #000;
	padding: 0.2em;
}



/*** Flash message ***/
#notice {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	background: #CCFF66;
	display: block;
	padding: 8px 0 8px 0;
	margin-bottom: 18px;
}

#error {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	background: #B22222;
	display: block;
	padding: 8px 0 8px 0;
	margin-bottom: 18px;
}

/*** Some links ***/

/* Hover links for edit/delete */
a.utility
{
	font-weight:normal;
	color:#c00;
	font-size:0.8em;
	text-decoration:none;
}
a.utility:hover
{
	color:#c00;
	text-decoration:underline;
}

/*** Some modifiers ***/

span.active 
{
	font-weight:bold;
	color: #006400;
	font-size:0.6em;
	text-decoration:none;
}

span.inactive 
{
	font-weight:bold;
	color: #c00;
	font-size:0.6em;
	text-decoration:none;
}

/** Program listing **/
#program_list li {
	margin: 0; 
	padding: 0;
	display: block;
	list-style-type: none;
}


/*** Misc ***/
.right_division
{
	border-right: 1px dashed #777;
}

.left_space
{
	margin-left: 20px;
}

#minical
{
	float:center;
}

span.arrow
{
	font-weight:normal;
	font-size:0.9em;
	color:#666;
}
