<% remote_form_for(@segment, :url => create_segment_path(@structure_template), :html => { :method => :put }) do |f| %>
<%= hidden_field_tag 'segment[asset][kind]', 'playlist' %>

<fieldset>
	<legend>Playlist</legend>
	
	<p>
		<label for="segment_asset_id">Playlist:</label>&nbsp;
		<%= select_tag 'segment[asset][id]', playlist_assets %>
		<label for="segment[random]">Random?</label>
		<%= f.check_box :random %>
	</p>
	
	<p class="centered">
		<%= submit_tag 'Save' %>
	</p>
</fieldset>
<% end %>
