<fieldset>
		<legend>Properties</legend>
		<p>
			<label for="structure_template_name">Name</label><br/>
			<%= f.text_field :name %>
		</p>
		<p>
			<label for="structure_template_calendar_url">Default iCalendar URL</label><br/>
			<%= f.text_field :calendar_url %>
		</p>
		<p>
			<label for="structure_template_color">Color</label><br/>
			<%= f.text_field :color, :size => 6 %>
		</p>
		<p class="centered">
			<%= submit_tag "Submit" %>
		</p>
</fieldset>