<%
	structure_templates_crumbs(@structure_template)
	add_crumb("Edit", edit_schedule_structure_template_path(@structure_template))
%>

<div class="span-8">
<% form_for @structure_template, :url => schedule_structure_template_path(@structure_template) do |f| %>
	<%= render :partial => 'properties', :locals => { :f => f } %>
<% end %>
</div>

<div class="span-9 last">
	<%= render :partial => 'structure' %>
</div>
