<%
	structure_templates_crumbs
	add_crumb("New", new_schedule_structure_template_path)
%>

<div class="span-8">
<% form_for @structure_template, :url => schedule_structure_templates_path do |f| %>
	<%= render :partial => 'properties', :locals => { :f => f } %>
<% end %>
</div>

<div class="span-9 last">
</div>
