<h1>Select an asset service</h1>

<% form_remote_tag :url => asset_service_browser_path, :update => 'file_list' do -%>
	<p>
		<%= select_tag 'id', asset_services %> 
	</p>
	<p>
		<label for="password">Password</label><br/>
		<%= password_field_tag 'password', nil, :size => 10 %>
		<%= submit_tag 'Connect' %>
	</p>
<% end -%>