<li style="background: <%= "#{broadcast.emission_type.color}" %>;">
	<% 
		tstart = broadcast.dtstart.to_formatted_s(:long)
		tend = broadcast.dtend.to_formatted_s(:time)
	%>
	<span>
		<%= link_to "#{tstart}-#{tend}", program_broadcast_path(broadcast.program, broadcast) %>
	</span>
	<% if program.nil? then %>
		<span class="emission_info">
			<%= link_to broadcast.program.name, program_path(broadcast.program) %>
		</span>
	<% end %>
</li>

