<% content_for :right do %>
<h3>Remember</h3>
<p class="help">
Each event in the calendar represents a program's emission. <br /><br />
By uploading a new file you are overriding the current schedule and all tasks associated with it.<br />
<% end %>
<h1>New schedule</h1>

<% form_tag '/schedule/create', { :multipart => true } do -%>
	<label for="calendar">Select the iCalendar file with the schedule: </label>
	<%= file_field_tag 'calendar' %><br /><br />
	<%= submit_tag 'Change schedule' %>
<% end -%>

<p class="">

</p>