<% 
	@pagetitle = "Programs"
	add_crumb("Programs", programs_path, true)
%>

<% content_for :sidebar do %>
	<h1>Administration</h1>
	<ul>
		<li><%= link_to "New program", new_program_path %></li>
	</ul>
<% end %>

<%= alphabetical_list(@programs, 'program') %>

