<h3><%= title %></h3>

<p>
	<% if process.send(field).send(:perform) then %>
	<%= attribute[0] %>
	<% end %>
</p>

<p>
	<strong><%= attribute[2] %>: </strong><%= process.send(field).send(attribute[1]) %>
</p>