<div id="activity_nav">
	<ul>
		<script type="text/javascript" charset="utf-8">
			var links = Array.new(<%= items.collect{|e| "\"#{e}\"" }.join(', ') %>)
		</script>
		<% count = 0 %>
		
		<% items.each do |activity| %>
			<li class="<%= (count ==  0) ? 'first' : '' %>">
				<% link_name = activity.to_s.split("_").collect{|e| e.capitalize}.join('-') %>
				<%= link_to link_name, "", :onclick => 'toggle_group_visibility(links);' %>
			</li>
		<% count += 1; end %>
	</ul>
</div>