<%
	@pagetitle = "Schedule"
	@breadcrumbs = [add_crumb("Schedule", schedule_path, true)]
%>

<% content_for :sidebar do %>
<h1>Administration</h1>
<ul>
	<li><%= link_to "Update schedule", edit_schedule_path %></li>
</ul>
<h1>Process configuration</h1>
<ul>
	<li><%= link_to "Recorded emissions", "#" %></li>
	<li><%= link_to "Live emissions", "#" %></li>
	<li><%= link_to "Playlist emissions", "#" %></li>
</ul>
<% end %>