<%
	@pagetitle = "Schedule"
	add_crumb("Schedule", schedule_path, true)
%>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<h3>Next 24 hours...</h3>
<ul>
	<% @broadcasts.each do |b| %>
	<li><%= "#{b.dtstart}-#{b.dtend}" %> </li>
	<% end %>
</ul>