<h1>Administration</h1>
<ul>
	<li><%= link_to 'Edit program', edit_program_path(@program) %></li>
</ul>

<h1>Browse emissions</h1>
<div id="minical">
	<%= render :partial => 'shared/minical', :locals => { :date => Time.now, :program => @program } %>
</div>
