<% 
	@pagetitle = "New program"
	add_crumb("Programs", programs_path)
	add_crumb("New", new_program_path, true)
%>

<% content_for :sidebar do %>
<% end %>

<p>
	Input information for the new program
</p>
<% form_for :program, @program, :url => { :action => 'create' } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
