<%
	add_crumb("Settings", settings_path, true)
%>

<ul>
	<li class="type_list_element">
		<%= link_to "Asset services", settings_asset_services_path %>
	</li>
	<%= render :partial => 'shared/asset_services', :object => @settings.asset_services %>

	<li class="type_list_element">
		<%= link_to "Live sources", settings_live_sources_path %>
	</li>
	<%= render :partial => 'shared/live_sources', :object => @settings.live_sources %>
</ul>