<%
	@pagetitle = "New author"
	@breadcrumbs = [add_crumb("Authors", authors_path),
					add_crumb("New", new_author_path, true)]
%>

<% form_for :authorship, @authorship, :url => authors_path do |f| -%>
	<p>
		<label for="authorship_program">Select program:</label><br/>
		<%= f.collection_select :program_id, get_programs, :id, :name %>
	</p>
	<p>
		<label for="authorship_user">Select user</label><br/>
		<%= f.collection_select :user_id, get_users, :id, :name %>
	</p>
	<p>
		<%= render :partial => 'rules', :locals => { :form => f } %>
	</p>
	<p>
		<%= submit_tag "Submit" %>
	</p>
<% end -%>