<%
	@pagetitle = "Program: #{@program.name}" 
	
	add_crumb("Programs", programs_path)
	add_crumb("#{@program.name}", program_path(@program), true)	
%>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<h3>Description</h3>
<p>
	<%= @program.description %>
</p>

<hr />
<h3>Upcoming first-time broadcasts</h3>

<ul>
<% @program.upcoming_originals.each do |e| %>
	<li><%= link_to e.dtstart.localtime.to_formatted_s(:long), program_broadcast_path(@program, e) %></li>
<% end %>
</ul>
