<ul>
	<% conflicts.each do |c| %>
		<li><%= "#{c[:program].name} #{c[:dtstart].localtime}-#{c[:dtend].localtime} has conflicts with:" %></li>
		<ul>
		<li><%= "#{c[:broadcast].program.name} #{c[:broadcast].dtstart.localtime}-#{c[:broadcast].dtend.localtime}" %></li>
		</ul>
	<% end %>
</ul>
